<h1>Welcome to VBPS Dwarka Library App</h1><br><br>
<%= image_tag("vbps-logo.jpg", :alt => "vbps logo") %>
<div class="middle">
  <h3>
    <%= link_to 'Manage Books', controller: 'books' %><br><br>
    <%= link_to 'Manage Students', controller: 'students' %><br><br>
    <%= link_to 'Manage Genres', controller: 'genres' %>
  </h3>
</div>
<div class="footer">
  <%= image_tag("ryzelogo.png", :alt => "ryze logo") %><br><br>
  <div class="ftext"> Developed for VBPS Dwarka by Ujjwal "Ryzokuken" Sharma </div>
</div>
